body {
	font-family: Arial, sans-serif;
	background-color: #252525;
	color: #fff;
}

.container {
	min-width: 600px;
	margin: 50px auto;
	text-align: center;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #003cff;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}

button:hover {
	background-color: #000fb3;
}

#quote {
	font-style: italic;
}

#quote::after,
#quote::before {
	content: '"';
}
